/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;

}


/* ===== Colours ===== */


/* Base Styles */
body {
    background-color: teal;
    
    padding: 0;
    margin: 0;
    /*overflow: hidden; */
}

.nav-links {
    position: relative;
    /* Changed to fixed for better scrolling behavior */
    /* background-color: lightslategray; */
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -10px;
    height: 80px;   
}

.nav-links li a {
    margin-top: 20px;
    font-size: 23px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.nav-links li a:hover {
    font-weight: 800; 
}

.divv {
    background-color: white;
    margin-top: 30px;
    width: 950px;
    height: auto;
    margin-left: 50px;
    padding: 15px; 
}

.imgg {
    height: 300px;
    width: 900px;
   background-size: cover;
    margin: 50px;
    margin-left: 30px;
}

.textt {
    margin-top: -350px;
    margin-left: 60px;
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
    animation: animate 1s ease-in-out 0.3s 1 forwards;

}

.para {
    margin-left: 60px;
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {

    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.buttonn {
    margin-left: 80px;
    margin-top: -90px;
    background-color: black;
    color: white;
    font-weight: 800;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.buttonn:hover {
    background-color: aliceblue;
    color: black;

}

.heading {
    text-align: center;
    margin-top: 140px;
}

.margin {
    margin-top: -120px;
    margin-left: 30px;
}

.img1 {
    margin: 40px;
    width: 300px;
    height: 330px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: -1px;
    margin-top: 140px;
}

.p1 {
    color: purple;
    font-size: 20px;
    font-weight: 900;
    margin-left: 19px;
    margin-top: -78px;

}

.p1:hover {
    color: black;
}


.btn1 {
    margin-left: 80px;
    margin-top: 5px;
    background-color: aliceblue;
    color: black;
    font-weight: 800;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.btn1:hover {
    color: white;
    background-color: black;
}

.p2 {
    color: purple;
    font-size: 20px;
    font-weight: 900;
    margin-left: 349px;
    margin-top: -38px;
    cursor: pointer;
}

.p2:hover {
    color: black;
}

.btn2 {
    margin-left: 430px;
    margin-top: 6px;
    background-color: aliceblue;
    color: black;
    font-weight: 800;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;

}

.btn2:hover {
    background-color: black;
    color: white;
}


.imgg2 {
    margin-top: -65px;
    margin-left: -4px;
}

.img2 {
    width: 300px;
    height: 330px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 330px;
    margin-top: -690px;
}

.p3 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-left: 20px;
    margin-top: -34px;
    cursor: pointer;
}

.p3:hover {
    color: black;
}

.btn3 {
    margin-left: 90px;
    margin-top: 3px;
    background-color: aliceblue;
    color: black;
    font-weight: 800;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.btn3:hover {
    background-color: black;
    color: white;
}

.imgg3 {
    margin-top: -177px;
    margin-left: 655px;
}

.img3 {
    width: 300px;
    height: 330px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: -00px;
    margin-top: -200px;
}

.image {
    margin: 28px;
    width: 900px;
    height: 380px;
    margin-left: 50px;
    border-radius: 30px;
    /* opacity: 0.5; */

}

.head {
    color: black;
    font-weight: 900;
    text-align: center;
    margin-top: -299px;
    opacity: 1;
}

.head2 {
    color: black;
    font-weight: 900;
    text-align: center;
    margin-top: -250px;
    opacity: 1;

}

.email {
    margin-left: 390px;
    margin-top: 200px;
    background-color: aliceblue;
    color: black;
    font-weight: 800;
    padding: 10px;
    cursor: pointer;

}

.btn4 {
    margin-left: 450px;
    margin-top: 10px;
    background-color: aliceblue;
    color: black;
    font-weight: 800;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;

}

.container {
    position: relative;
    width: 50%;
}

.image1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image1 {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text1 {
    color: black;
    font-weight: 700;
    font-size: 26px;
    padding: 16px 32px;
    margin-right: 80px;

}

.container2 {
    position: relative;
    width: 50%;
}

.image2 {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.8;
    overflow: hidden;
    width: 350px;
    height: 0;
    transition: .5s ease;
}

.container2:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text2 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* footer */
footer {
    margin-top: 113px;
}

.foot-panel1 {
    /* background-color: grey; */
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: whitesmoke;
    color: black;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: bla;
}

.foot-panel3 {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo1 {
    background-image: url("../IMG/decor7.jpeg");
    background-size: cover;
    border-radius: 60%;
    height: 50px;
    width: 100px;

}

.foot-panel4 {
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages {
    padding-top: 25px;

}

.copy-right {
    padding-top: 3px;
}